<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Liam 9.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B584F90F1CB3259F00B7533E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B584F9271CB325A200B7533E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B584F9321CB325A200B7533E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
